@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
  /* ___|COLORS|___ */
  /* Primary */
  --DARK-CYAN: hsl(158, 36%, 37%);
  --CREAM: hsl(30, 38%, 92%);
  /* Neutral */
  --VERY-DARK-BLUE: hsl(212, 21%, 14%);
  --DARK-GRAYISH-BLUE: hsl(228, 12%, 48%);
  --WHITE: hsl(0, 0%, 100%);

  /*___|FONT FAMILIES|____*/
  --FRAUNCES-FONT: 'Fraunces', serif;
  --MONTSERRAT-FONT: 'Montserrat', sans-serif;

}

*, *::before, *::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  font: inherit;
}

img,svg{
  display: block;
  max-width: 100%;
}

body{
  font-family: var(--MONTSERRAT-FONT);
  font-size: 16px;
  background: var(--CREAM);


}

h1{
  font-family: var(--FRAUNCES-FONT);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h3{
  font-family: var(--MONTSERRAT-FONT);
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--DARK-GRAYISH-BLUE);
}
.card{
  --padding:2.5rem;
  max-width: 46rem;
  display: grid;
  margin: 1rem;
  background: var(--WHITE);
  border-radius: 1rem;
}





.card-detail{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--padding);
}

.card-detail p{
  color: var(--DARK-GRAYISH-BLUE);
  
}

.card-detail .price{
  font-family: var(--FRAUNCES-FONT);
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--DARK-CYAN);
}

.card-detail .originalprice{
  text-decoration: line-through;
}


.card-detail button{
  
  background-color: var(--DARK-CYAN);
  border-radius: 7px;
  border: none;
  color: var(--WHITE);
  font-size: 1rem;
  font-weight: 700;
  padding: 1.1em;
  
}

.card-detail button img{
  
  display: inline;
  margin-right: 1em;
  

}

@media (min-width:600px){
  body{
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  
}






@media (min-width:600px){
  .card{
    margin-inline: 1rem;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .card .card-image{
    background-image: url('/images/image-product-desktop.jpg');
    background-size: cover;

  }
}


@media (max-width:600px){
  .card .card-image{
    background-image: url('/images/image-product-mobile.jpg');
    background-size: cover;
    width: 100%;
    padding-top: 75%;
    border-radius: 1rem 1rem 0 0;
  
  }
}



.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}



